<div class="header">

  <!-- 功能列 -->
  <!-- style="width: 100px; height: 100px" -->
  <el-row>
    <el-col :xs="24" :sm="4" :md="4" :lg="4">
      <router-link to="/">
        <el-image style="width: 150px; height: 44px;margin-top: 10px;" :src="logosrc" fit="contain"></el-image>
      </router-link>
    </el-col>

    <el-col :xs="24" :sm="{span: 8, offset: 12}" :md="{span: 7, offset: 13}" :lg="{span: 5, offset: 15}">
      <div v-if="!nickname">
        <el-button type="primary" class="top_btn" round v-on:click="showBox('login_box')">會員登入</el-button>
        <el-button type="success" class="top_btn" round v-on:click="showBox('signup_box')">立即註冊</el-button>
      </div>

      <div v-if="nickname">
        <el-button type="primary" class="top_btn" round icon="el-icon-refresh" v-on:click="updateBalanceHandler">
          ${{balance}}
        </el-button>

        <el-dropdown class="nickname" @command="memberHandler">
          <el-button>
            <i class="el-icon-user-solid"></i>
            {{nickname}}
            <i class="el-icon-arrow-down el-icon--right"></i>
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="/wallet">錢包中心</el-dropdown-item>
            <el-dropdown-item command="/password">變更密碼</el-dropdown-item>
            <el-dropdown-item command="logout" divided>登出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-col>
  </el-row>

  <!-- 註冊會員 -->
  <Vmodal name="signup_box" height="400" width="360">
    <div style="padding: 10px 12px;">
      <h1>註冊會員</h1>
      <br />
      <el-form :model="signUpRuleForm" status-icon :rules="signUpRules" ref="signUpRuleForm">
        <el-form-item prop="signup_username">
          <el-input type="text" class="input_box" prop="signup_username" v-model="signUpRuleForm.signup_username"
            placeholder="帳號" autocomplete="off" />
        </el-form-item>
        <el-form-item prop="signup_nickname">
          <el-input type="text" class="input_box" prop="signup_nickname" v-model="signUpRuleForm.signup_nickname"
            placeholder="暱稱" autocomplete="off" />
        </el-form-item>
        <el-form-item prop="signup_password">
          <el-input type="password" class="input_box" prop="signup_password" v-model="signUpRuleForm.signup_password"
            placeholder="密碼" autocomplete="off" />
        </el-form-item>
        <el-button plain v-on:click="signupRequestHandler">註冊</el-button>
        <el-button plain type="info" v-on:click="closeBox('signup_box')">取消</el-button>
        <el-button type="text" v-on:click="closeBox('signup_box');showBox('login_box');">已有帳號</el-button>
        <div style="color: crimson;margin-top: 5px;">
          {{signup_message}}
        </div>
      </el-form>
    </div>
  </Vmodal>

  <!-- 會員登入 -->
  <Vmodal name="login_box" height="330" width="360">
    <div style="padding: 10px 12px;">
      <h1>會員登入</h1>
      <br />
      <el-form :model="loginRuleForm" status-icon :rules="loginRules" ref="loginRuleForm">
        <el-form-item prop="login_username">
          <el-input type="text" class="input_box" v-model="loginRuleForm.login_username" placeholder="帳號" clearable />
        </el-form-item>
        <el-form-item prop="login_password">
          <el-input type="password" class="input_box" v-model="loginRuleForm.login_password" placeholder="密碼" clearable
            @keyup.enter.native="loginRequestHandler" />
        </el-form-item>
        <el-button plain v-on:click="loginRequestHandler">登入</el-button>
        <el-button plain type="info" v-on:click="closeBox('login_box')">取消</el-button>
        <el-button type="text" v-on:click="closeBox('login_box');showBox('signup_box');">立即註冊</el-button>
        <div style="color: crimson;margin-top: 5px;">
          {{login_message}}
        </div>
      </el-form>
    </div>
  </Vmodal>
</div>