<div class="hello">
    <body>
      <div class="container">
        <div class="title">
          <h2>好旺娛樂城</h2>
          <div>
            <span>{{ balance_msg }}</span>
            <span plain v-show="!username" v-on:click="loginBoxHandler">
              <el-button type="primary" size="medium" round>會員登入</el-button>
            </span>
            <span plain v-show="!username" v-on:click="signUpBoxHandler">
                <el-button type="success" size="medium" round>立即註冊</el-button>
              </span>
              <!-- <span plain v-show="!username" v-on:click="signUpBoxHandler">
                <el-button type="primary" icon="el-icon-refresh" size="small" round>更新</el-button>
              </span> -->
            <!-- <el-button plain v-show="!username" v-on:click="loginBoxHandler">登入</el-button>
            <el-button plain v-show="!username" v-on:click="signUpBoxHandler">創建</el-button> -->
            <el-button plain v-show="username" v-on:click="logoutHandler" key=99 index="/logout">登出</el-button>
          </div>
  
        </div>
      </div>
    </body>
    <Vmodal name="signup_box" height="400">
      <h1>創建玩家</h1>
      <br />
      <el-form>
        <el-form-item>
          <el-input type="text" class="input_box" v-model="signup_username" placeholder="Username" clearable />
        </el-form-item>
        <el-form-item>
          <el-input type="text" class="input_box" v-model="signup_nickname" placeholder="Nickname" clearable />
        </el-form-item>
        <el-form-item>
          <el-input type="password" class="input_box" v-model="signup_password" placeholder="Password" clearable />
        </el-form-item>
        <div style="color: crimson;">
          {{signup_message}}
        </div>
        <el-button plain v-on:click="signupRequestHandler">創建</el-button>
      </el-form>
    </Vmodal>
    <Vmodal name="login_box" height="400">
      <h1>登入</h1>
      <br />
      <el-form>
        <el-form-item>
          <el-input type="text" class="input_box" v-model="login_username" placeholder="Username" clearable />
        </el-form-item>
        <el-form-item>
          <el-input type="password" class="input_box" v-model="login_password" placeholder="Password" clearable />
        </el-form-item>
        <div style="color: crimson;">
          {{login_message}}
        </div>
        <el-button plain v-on:click="loginRequestHandler">登入</el-button>
      </el-form>
    </Vmodal>
  </div>