<div class="wallet">
    <el-row>
        <el-col :xs="{span: 24, offset:0 }" :sm="{span: 22, offset: 1}" :md="{span: 20, offset: 2}"
            :lg="{span: 18, offset: 3}" :xl="{span: 18, offset: 3}">

            <el-alert :title="message" type="warning" show-icon v-if="message.length>0">
            </el-alert>

            <template v-if="message.length==0">
                <el-table :data="wallet" border style="width: 100%">
                    <el-table-column prop="bank" label="錢包">
                    </el-table-column>
                    <el-table-column prop="balance" label="餘額">
                    </el-table-column>
                </el-table>

                <br>

                <el-tabs v-model="walletTab">
                    <el-tab-pane name="tab1" label="交易紀錄">


                        <el-table :data="tranData" border style="width: 100%">
                            <el-table-column label="交易時間" width="180">
                                <template slot-scope="scope">

                                    <span>{{scope.row.created | formatDate}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="amount" label="轉帳金額" width="150">
                            </el-table-column>
                            <el-table-column prop="fromBank" label="轉出錢包" width="100">
                            </el-table-column>
                            <el-table-column prop="toBank" label="轉入錢包" width="100">
                            </el-table-column>
                            <el-table-column label="轉帳結果" width="100">
                                <template slot-scope="scope">
                                    <el-tag :type="scope.row.success  ? 'success' : 'danger'">
                                        {{scope.row.success?'成功':'失敗'}}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column prop="transferID" label="交易序號">
                            </el-table-column>
                        </el-table>

                    </el-tab-pane>
                    <el-tab-pane name="tab2" label="轉帳">

                    </el-tab-pane>
                </el-tabs>
            </template>
        </el-col>
    </el-row>
</div>