<div class="live">
  <el-row>
    <el-col :xs="24" :sm="{span: 10, offset:1 }" :md="{span: 7, offset:3 }" :lg="{span: 4, offset:4 }"
      v-for="item in gamelist" :key="item.gameID">
      <el-card :body-style="{ padding: '0px' }" style="width: 300px;margin-bottom: 30px;">
        <el-image style="width: 300px; height: 150px" :src="item.image" fit="fill"></el-image>
        <div>
          <h3>{{ item.name }}</h3>
          <div class="bottom clearfix" style="margin-bottom: 10px;">
            <el-button type="primary" round v-on:click="gameURLHandler(item.providerID,item.providerGameID)">開啟遊戲
            </el-button>
          </div>
        </div>
      </el-card>
    </el-col>
  </el-row>
</div>